<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2R1B</title>
</head>

<body>
    <p>Create a new game</p>

    <form action="{% url 'new_game' %}" method="post">
        {% csrf_token %}
        <label for="new_player_name">Name:</label>
        <input type="text" id="new_player_name" name="player_name" required>
        <input type="submit" value="New Game">
    </form>

    <p>Join an existing game</p>

    <form action="{% url 'join_game' %}" method="post">
        {% csrf_token %}
        <label for="join_player_name">Name:</label>
        <input type="text" id="join_player_name" name="player_name" required>
        <label for="join_access_code">Code:</label>
        <input type="text" id="join_access_code" name="access_code" required>
        <input type="submit" value="Join Game">
    </form>


</body>

</html>