<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2R1B</title>
</head>

<body>
    <p>access code: {{ access_code }}</p>

    {% if players %}
    <ul>
        {% for player in players %}
        <li>{{ player.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if current_player %}
    <p>you are {{ current_player.name }}</p>
    {% endif %}

    <form action="{% url 'start_game' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Start Game">
    </form>

</body>

</html>